.bannerImage{
    background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.bannerText{
    position: relative;
    top: 2rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
}

.bannerStrongText{
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.bannerSubtitle p{
    margin-bottom: 0;
    font-size: 0.9rem;
}

.bannerTitle{
    margin: 0;
}

@media (min-width: 920px) {
    .bannerImage {
      height: 400px;
      background-position: 0% 33%;
    }
  
    .bannerText {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }

    .bannerStrongText{
        font-size: 1.5rem;
    }

    .bannerSubtitle p{
        font-size: 1.2rem;
    }
}