.transactionsDescription{
    width: 80%;
    display: grid;
    grid-template-columns: 13% 50% 13% 13% ;
    margin-left: 11%;
}

.transactionsDescription p{
    text-align: left;
}

.transactionDateTitle{
    margin-left: 15px;
}

.transactionDescriptionTitle{
    margin-left: 15px;
}
